@model IEnumerable<AdvancedProgramming.Data.UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id1=item.RoleID, id2=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id1 = item.RoleID, id2 = item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.RoleID, id2 = item.UserID })
        </td>
    </tr>
}

</table>
